<%= form_for([@task.project, @task]) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: :true %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :status %><br />
    <%= f.select :status, options_for_select(Task.statuses.map{|k,_| [k,k]}) %>
  </div>

  <div class="field">
    <%= f.label :department %><br />
    <%= f.select :department, options_for_select(User.roles.map{|k,_| [k,k]}) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
