<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5" style="background: linear-gradient(to bottom, #ffffff 0%,#f0f8ff 100%);">
        <div class="card-body p-5">
          <h2 class="h3 mb-3 font-weight-normal text-center">Forgot your password?</h2>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "form-signin" }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="form-label-group mb-4">
              <%= f.label :email, class: "sr-only" %>
              <%= f.email_field :email, autofocus: true, class: "form-control rounded-pill", placeholder: "Email address", autocomplete: "email" %>
            </div>
            <p >Request password instructions</p>
            <div class="text-center">
              <%= f.submit "Request", class: "btn btn-lg btn-primary btn-block rounded-pill mt-4" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="text-center mt-4">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div> 
