<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <% if user_signed_in? %>
        <h2 class="text-center mb-4">Welcome, <%= current_user.email %>!</h2>
      <% else %>
        <h2 class="text-center mb-4">Sign in</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "mb-4"}) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="form-group form-check">
              <%= f.check_box :remember_me, class: "form-check-input" %>
              <%= f.label :remember_me, class: "form-check-label" %>
            </div>
          <% end %>

          <%= f.submit "Sign in", class: "btn btn-primary btn-block mt-3" %>
        <% end %>

        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-6 offset-md-3">
      <h2>Projects</h2>
      <% if @projects.nil? %>
        <p> No projects found.</p>
      <% elsif @projects.any? %>
        <% @projects.each do |project| %>
          <div>
            <%= render project %>
          </div>
        <% end %>
      <% else %>
        <p> No projects found.</p>
      <% end %>
    </div>
  </div>

  <% if current_user.manager_or_above? %>
    <%= link_to "New project", new_project_path, class: "btn btn-primary btn-block mt-3" %>
  <% else %>
    <hr>
    <b>Contact to your manager to add new projects</b>
  <% end %>

</div>
