
<div class="container">
  <div class="card">
    <div class="card-header text-center" style="background: linear-gradient(to bottom, #ffffff 0%,#f0f8ff 100%)">
      <p class="text-info"><%= notice %></p>
      <%= render @project %>
    </div>
    <div class="card-body">
      <% if current_user.manager_or_above? %>

      <% else %>
        <%= link_to "Back Projects", projects_path, class: "btn btn-outline-info" %>
      <% end %>
      <hr>
      <% if @tasks_accessible_to_current_user.any? %>
        <h1>Listing tasks</h1>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Status</th>
              <th>Project</th>
              <th>Department</th>
              <th></th>
              <th></th>
              <% if current_user.manager_or_above? %>
                <th></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @tasks_accessible_to_current_user.each do |task| %>
              <% if task.persisted? %>
                <tr>
                  <td><%= task.name %></td>
                  <td><%= task.description %></td>
                  <td><%= task.status %></td>
                  <td><%= task.project.name %></td>
                  <td><%= task.department %></td>
                  <td><%= link_to 'Show', [task.project, task], class: "btn btn-outline-info", style: "color: #007bff;" %></td>
                  <td><%= link_to 'Edit', edit_project_task_path(task.project, task), class: "btn btn-outline-info", style: "color: #007bff;" %></td>
                  <% if current_user.manager_or_above? %>
                    <td><%= link_to 'Destroy', [task.project, task], data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-outline-danger" %></td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <b>No tasks yet</b>
      <% end %>
      <% if current_user.manager_or_above? %>
        <hr>
        <div class="card">
          <div class="card-header" style="background: linear-gradient(to bottom, #ffffff 0%,#f0f8ff 100%)">
            <h1>New task</h1>
          </div>
          <div class="card-body">
            <%= render 'tasks/form' %>
          </div>
        </div>
      <% else %>
        <hr>
        <b>Ask your manager to create new tasks for this project</b>
      <% end %> <br>
      <div class="d-flex justify-content-between">
        <div>
          <%= link_to "Back Projects", projects_path, class: "btn btn-outline-info mr-2" %>
          <%= link_to "Edit", edit_project_path(@project), class: "btn btn-outline-info mr-2" %>
        </div>
        <div>
          <%= button_to "Delete Project", @project, method: :delete, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-outline-danger" %>
        </div>
      </div>
    </div>
 </div>
</div>

