<div class="container">
  <p style="color: green"><%= notice %></p>

  <%= render @project %>

  <div>

    <% if current_user.manager_or_above? %>
      <%= link_to "Edit", edit_project_path(@project) %> |
      <%= link_to "Back Projects", projects_path %>
      <%= button_to "Destroy", @project, method: :delete %>
    <% else %>
      <%= link_to "Back Projects", projects_path %>
    <% end %>
  </div>

  <hr>

  <% if @tasks_accessible_to_current_user.any? %>
    <h1>Listing tasks</h1>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>Project</th>
        <th>Department</th>
        <th></th>
          <th></th>
        <% if current_user.manager_or_above? %>
          <th></th>
        <% end %>
      </tr>

      <% @tasks_accessible_to_current_user.each do |task| %>
        <% if task.persisted? %>
          <tr>
            <td><%= task.name %></td>
            <td><%= task.description %></td>
            <td><%= task.status %></td>
            <td><%= task.project.name %></td>
            <td><%= task.department %></td>
            <td><%= link_to 'Show', [task.project, task] %></td>

            <td><%= link_to 'Edit', edit_project_task_path(task.project, task) %></td>
              <% if current_user.manager_or_above? %>
              <td><%= link_to 'Destroy', [task.project, task],
                      data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}
                  %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% else %>
    <b>No tasks yet</b>
  <% end %>


<% if current_user.manager_or_above? %>
  <h1>New task</h1>
    <%= render 'tasks/form' %>
<% else %>
    <hr>
  <b>Ask your manager to create new tasks for this project</b>
<% end %>
</div>
