<div class="container mt-5">
  <div class="row">
    <div class="">
      <h2>Users</h2>
      <table class="table">
        <tr>
          <th>Email</th>
          <th>Role</th>
          <th></th>
        </tr>
          <% @users.each do |user| %>
            <tr>
              <%= form_tag admin_user_path(user), method: :put do %>
              <td>
                <%= user.email %>
              </td>
              <td>
                 <%= select_tag :role,
                    options_for_select(User.roles.map{|k,_| [k,k]}, user.role)
                  %>
              </td>
              <td>
                <%= submit_tag "Update", class: "btn btn-outline-primary" %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
      <hr>
      <div>
        <%= button_to "Invite User", "", class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
